name: Package and release the charts

on:
  workflow_dispatch:
    inputs:
      bump:
        type: choice
        required: true
        description: How to bump the chart version. Setting it to disabled will make the workflow release the charts with versions from chart.yaml files.
        options:
          - disabled
          - major
          - minor
          - patch
      appVersion:
        description: "Operator app version without quotes, eg. 0.8.1. If not provided, app version already present in Chart.yaml files will be used. If bump was disabled, appVersion won't be changed too."
        required: false

jobs:
  release-charts:
    name: Package and release the charts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Bump versions
        if: github.event.inputs.bump != 'disabled'
        run: |
          if [ ${{ github.event.inputs.appVersion }} ] ; then
            make change-chart-version BUMP=${{ github.event.inputs.bump }} APP_VERSION=${{ github.event.inputs.appVersion }}
          else
            make change-chart-version BUMP=${{ github.event.inputs.bump }}
          fi

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Release the charts with chart releaser
        uses: helm/chart-releaser-action@v1.3.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Commit changes to repository
        run: |
          git add APP_VERSION.txt VERSION.txt charts/carthago-op-jenkins/Chart.yaml charts/carthago-op-jenkins-crs/Chart.yaml charts/carthago-op-jenkins/values.yaml
          git commit -m "Update versions of charts and Operator image"
          git push
